<!--
  Pasteright 2021 Tinker@Hazel
-->

<launch>
    <!-- static map -->
    <arg name="load_static_map" default="" />

    <!-- set static map args -->
    <arg if="$(eval load_static_map != '')" name="cartographer_arguments" value="-load_state_filename $(find tinker_navigation)/static_maps/$(arg load_static_map)/map.pbstream" />
    <arg if="$(eval load_static_map == '')" name="cartographer_arguments" value="" />

    <!-- lidars -->
    <!--<node name="rplidarNode" pkg="rplidar_ros" type="rplidarNode" output="screen">
        <param name="serial_port" type="string" value="/dev/ttyUSB0"/>
        <param name="serial_baudrate" type="int" value="115200"/>
        <param name="frame_id" type="string" value="laser"/>
        <param name="inverted" type="bool" value="false"/>
        <param name="angle_compensate" type="bool" value="true"/>
    </node>-->
     <param name="robot_description" command="xacro '$(find tinker_description_nav_only)/urdf/tinker.urdf.xacro'" />

    <node name="robot_state_publisher" pkg="robot_state_publisher"
      type="robot_state_publisher" />


    <!-- cartographer -->
    <!-- ref: https://readthedocs.org/projects/google-cartographer-ros/downloads/pdf/latest/ -->

    <node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node" args="
          -configuration_directory $(find tinker_navigation)/config/slam
          -configuration_basename single_rplidar.lua
          $(arg cartographer_arguments)"
      output="screen" respawn="true" />

    <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
        type="cartographer_occupancy_grid_node" args="-resolution 0.02"
        output="screen" respawn="true"/>
        
</launch>
