<!--
  Pasteright 2021 Hazel@Tinker
-->

<launch>
  <!--param name="/use_sim_time" value="true" /-->

  <include file="$(find tinker_navigation)/launch/nav.launch" />

  <node name="rviz" pkg="rviz" type="rviz" required="true"
      args="-d $(find tinker_navigation)/config/slam/demo_2d.rviz" />
      
  <!--node name="playbag" pkg="rosbag" type="play"
      args="/home/hazel/306_n.bag" /-->
</launch>
